.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-top: 16px;
}

.form-login {
  background-color: #eee;
  border-top: solid 2px rgb(112, 216, 131);
  padding: 20px 25px;
  width: 500px;
  box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.3);
}

.button {
  background: rgb(112, 216, 131);
  color: white;
  font-size: 1em;
  padding: 0.25em 1em;
  border: 2px solid rgb(112, 216, 131);
  border-radius: 3px;
  cursor: pointer;
}

.errorMessage{
	color: #f00
}